.button {
    border-radius: 8px;
    border-color: rgb(27, 27, 27);
    background-color: rgb(27, 27, 27);
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 55px;
    margin-right: 20px;
}