.Container {
    width: 80%;
    background-color: rgb(29, 29, 29);
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.ListStyle {
    list-style: none;
    float: left;
    transition: transform .10s; 
}

.ListStyle:hover {
    transform: scale(0.9); 
    transition-duration: 10ms; 
} 

.Content {
    background-color: rgb(54, 54, 54);
    background-color: rgb(54, 54, 54);
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 330px;
    height: 370px;
    margin-left: 15px;
    margin-bottom: 30px;
    animation: slide-down 300ms ease-out forwards;
}


@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0rem);
    }
  }

.Img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 330px;
    height: 220px;
}

.Title {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 10px;
}

.Desc {
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    white-space: pre-line; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.Error {
    color: rgb(197, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

.Platform {
    color: white;
    width: 190px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.Release {
    color: white;
    width: 100px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}