.titleheader{
    color: rgb(197, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: 6px;
}

.container{
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin-top: 1rem;
    float: right;
}

.img {
    width: 400px;
    transition: transform .10s; 
}

.img:hover {
    transform: scale(1.1); 
    transition-duration: 10ms; 
} 

.button {
    border-radius: 8px;
    border-color: rgb(27, 27, 27);
    background-color: rgb(27, 27, 27);
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-right: 20px;
}