.titleheader{
    color: rgb(197, 197, 197);
    width: 63%;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    border-radius: 10px;
    width: 119%;
    height: 120px;
    margin-top: 1rem;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgb(54, 54, 54);
    transition: transform .10s; 
}

.container:hover {
    transform: scale(1.1); 
    transition-duration: 10ms; 
} 

.img {
    border-radius: 5px;
    width: 150px;
    height: 100px;
    float: left;
}

.infogame1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 45rem;
    float: right;
    margin-top: 0rem;
}

.infogame2 {
    width: 45rem;
    height: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    text-align: left;
    margin-top: 0rem;
    white-space: pre-line; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.infogame3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 10rem;
    margin-top: 0rem;
}

.infogame4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 35rem;
    margin-top: 0rem;
}

.button {
    border-radius: 8px;
    border-color: rgb(27, 27, 27);
    background-color: rgb(27, 27, 27);
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-right: 20px;
}